@import "styles/main.scss";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--dark-green);
}

.main {
  position: relative;
  z-index: 50;

  padding-top: 12.5%;

  background: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 20%);
}

.hero {
  position: relative;
  height: 100vh;

  &:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: 40;

    display: block;
    width: 100%;
    height: 100vh;

    opacity: 0.6;
    background: linear-gradient(135deg, #0b1d26, transparent 87%);
  }

  &__content-wrapper {
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 50;

    @include flexAlignment(center, center);
    width: 100%;
    padding: 0 80px;

    box-sizing: border-box;
  }

  &__content {
    max-width: 950px;

    transform-style: preserve-3d;
  }

  &__content-tagline,
  &__content-heading {
    margin-bottom: 32px;
  }

  &__content-heading {
    text-transform: capitalize;

    color: var(--white);
  }

  &__parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 100%;

    transform-style: preserve-3d;

    &:nth-child(4) {
      top: 40%;
    }

    &:nth-child(5) {
      top: 60%;
      z-index: 50;
    }
  }
}

.cards {
  display: grid;
  grid-row-gap: 200px;
}

.card {
  @include flexAlignment(center, space-between);

  &__content {
    position: relative;

    display: grid;
    max-width: 632px;
    padding-top: 100px;
    padding-left: 150px;

    grid-row-gap: 27px;
  }

  &__counter {
    position: absolute;
    top: 0;
    left: 0;

    font-weight: 700;
    font-size: 240px;
    line-height: 1;

    color: var(--white);
    opacity: 0.1;
  }

  &__heading {
    max-width: 555px;

    color: var(--white);
  }

  &__paragraph {
    font-weight: 500;

    color: var(--white);
  }

  &__image {
    max-width: 38%;
    margin-left: 40px;
  }

  &_reverse {
    flex-direction: row-reverse;

    .card__image {
      margin-left: 0;
      margin-right: 40px;
    }
  }
}

@media screen and (max-width: 1441px) {
  .hero {
    &__content {
      max-width: 790px;
    }
  }

  .card {
    &__content {
      padding-top: 88px;
      padding-left: 112px;
    }

    &__counter {
      font-size: 200px;
    }
  }
}

@media screen and (max-width: 1025px) {
  .hero {
    &__content {
      max-width: 610px;
    }
  }

  .card {
    &__content {
      padding-top: 66px;
      padding-left: 45px;
    }

    &__counter {
      font-size: 150px;
    }
  }
}

@media screen and (max-width: 991px) {
  .hero {
    &__content-wrapper {
      top: 16%;
    }

    &__parallax-bg {
      &:nth-child(4) {
        top: 30%;
      }

      &:nth-child(5) {
        top: 45%;
      }
    }
  }

  .main {
    padding-top: 0;
    margin-top: -120px;
  }

  .card {
    flex-direction: column-reverse;

    &__image {
      width: 600px;
      height: 420px;
      max-width: 100%;
      margin: 0 0 20px;

      object-fit: cover;
      object-position: center bottom;
    }

    &_reverse {
      .card__image {
        margin: 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height: 1000px;

    &__content-wrapper {
      padding: 0 32px;
    }

    &__parallax-bg {
      width: 100%;
      height: 600px;
      object-fit: cover;

      &:nth-child(4) {
        top: 35%;
      }

      &:nth-child(5) {
        top: 55%;
        object-position: 50% 0;
      }
    }
  }

  .main {
    background-image: linear-gradient(180deg, rgba(11, 29, 38, 0), #0b1d26 5%);
  }

  .cards {
    grid-row-gap: 150px;
  }

  .card {
    &__content {
      padding-left: 0;
    }

    &__counter {
      transform: translateX(-50%);
    }
  }
}

@media screen and (max-width: 479px) {
  .hero {
    &__content-wrapper {
      padding: 0 24px;
    }
  }

  .main {
    margin-top: -80px;
  }

  .cards {
    grid-row-gap: 100px;
  }

  .card {
    grid-row-gap: 16px;

    &__image {
      height: 320px;
      margin: 0;
    }

    &_reverse {
      .card__image {
        margin: 0;
      }
    }
  }
}
